#root {
    background-color: rgb(7 89 133);
}

.home {
    height: 105vh;
    background-image: url('./assets/bg-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.swiper {
    height: 400px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
SwiperSlide img {
    width: 100%;
    height: 100%;
}

#contact {
    height: auto;
    background-image: url('./assets/contact-us.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-register {
    height: auto;
    background-image: url('./assets/login-register.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* medias */

@media (max-width:455px) {
    .home-title {
        height: 215px;
    }
}

@media (max-width:1000px) and (min-width:768px) {
    #footer {
        flex-direction: column;
        align-items: flex-start;
    }
    #footerDiv {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width:1150px) {
    #footer {
        display: flex;
        gap: 50px;
    }
}
